.numbered-lists-edit {
  /* Hide in view mode. */
  display: none;
}

.macro[data-macro] > .numbered-lists > .numbered-lists-edit {
  /* Show in edit mode. */
  display: block;
}

.macro[data-macro] > .numbered-lists > .numbered-lists-view {
  /* Hide in edit mode. */
  display: none;
}

/* Use CSS counters in edit mode so that list numbers are updated while typing. */
.numbered-lists-edit ol:not(.skip-numbering):first-of-type {
  /* Each nested list should start a nested counter from 1. */
  counter-reset: numbering;
}

.numbered-lists ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.numbered-lists ol.skip-numbering,
.numbered-lists ol.skip-numbering ol {
  list-style-type: revert;
  padding-left: revert;
  margin-top: revert;
  margin-bottom: revert;
}

/* View mode */
.numbered-lists-view > ol:not(.skip-numbering),
  /* WYSIWYG edit mode */
.numbered-lists-edit > .xwiki-metadata-container > ol:not(.skip-numbering) {
  padding-left: 100px;
}

.numbered-lists ol > li {
  margin-bottom: .5em;
}

.numbered-lists ol.skip-numbering li {
  margin-bottom: revert;
}

.numbered-lists-edit ol > li::before {
  /* Increment nested counters with each list item. */
  counter-increment: numbering;
  content: var(--numbering-prefix, "") counters(numbering, ".") " ";
}

.numbered-lists-view ol > li::before {
  content: attr(data-numbering);
}

.numbered-lists ol > li::before {
  position: absolute;
  margin-left: -100px;
}

.numbered-lists ol.skip-numbering > li::before,
.numbered-lists ol.skip-numbering ol > li::before {
  counter-increment: revert;
  content: revert;
  position: revert;
  margin-left: revert;
}

